.product-list{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #B5D99C;
}
.product-title{
    font-size: 30px
}
.projects{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .product-list {
      padding: 10px;
    }
  
    .product-title {
      width: 100%;
    }
  }